
/*Header describing classes*/
.header-container{
    /*width: 1920px;
    height: 850px;*/
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 240px;
    
}

/*Here describing all button as i find every button looks same.*/
.btn{
    display: inline-flex;
    background-color: rgba(229, 84, 115, 1);
    color: white;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 0;
    
   
}
.left-side-head{
   
    color: black;
    flex-direction: column;
    
}
.head-title{
    width: 708px;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 10px;
    align-items: center;
    
}
.para-conf{
    color:  rgba(39, 39, 39, 1), rgba(39, 39, 39, 1);
    width: 634px;
    margin-bottom: 10px;
}
.right-side-head{
   padding: 50px 240px 0px ;
    flex-shrink: 0;
    background-color:  lightgray 50%; 
    background-repeat:  no-repeat;
    width: 635px;
    height: 800px;
}
/*Main section Styles*/
.main-title1{
    
    text-align: center;
    color: #272727; 
    font-style: normal;
    font-weight: 800;
    
}
.main-description{
    padding: 0px 663px 48px 663px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}
.featured-flower-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: black;
    
    
}
.featured-flower{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    padding: 0%;
}

.flower-img{
    padding: 110px 78px 67px 76px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.flower-img1{
    padding: 117px 47px 118px 47px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flower-img2{
    padding: 67px 75px 67px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower-link{
    list-style: none;
}

.order-flower{
    border-radius: 8px;
    padding: 240px;
    width: 1440px;
    height: 320px;
    
    display: flex;
    flex-shrink: 0; 
    justify-content: space-around;
    text-align: center;
    background: rgba(39, 39, 39, 0.05);
}
.icon-msg{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}


.pic-container{
    padding-bottom: 128px;
    text-align: center;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin: auto;
}




.getting-deals{
    text-align: center;
    width: 1440px;
    height: 449px;
    flex-shrink: 0; 
    background-repeat:  no-repeat;
    background-image: url("./Flower\ Asset/Rectangle 9.png");
    margin: auto;
}




/* Footer */
footer {
    width: 1922px;
    height: 449px;
    background-color:rgb(17, 16, 16, 1) ;
    color: rgb(255, 255, 255, 0.4);
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.footer-title{
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 800;
    
}
.text-color{
    color: rgba(229, 84, 115, 1);
}
.footer-description{
    
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}