.header-container{
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
   justify-content: space-around;
   align-items: center;
    
}
.btn{
    display: inline-flex;
    background-color: rgba(229, 84, 115, 1);
    color: white;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 0;
    
   
}
.left-side-head{
   
    color: black;
    flex-direction: column;


}
.head-title{
    font-family: Lato;
    font-style: 80px;
    font-weight: 800;
    line-height: normal;
}
.para-conf{
    color:  rgba(39, 39, 39, 1), rgba(39, 39, 39, 1);
    width: 634px;
    
}
.right-side-head{
   
    flex-shrink: 0;
    background-color:  lightgray 50%; 
    background-repeat:  no-repeat;
    width: 635px;
    height: 800px;
}